@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
	background-color: #ffffff;
	margin: 0;
}
::selection {
	background: yellow;
}
a {
	text-decoration: none;
	font-family: sans-serif;
}
h1 {

}
h2 {
	font-weight: normal;
	font-family: sans-serif;
	color: black;
}
p {
	color: black;
	font-family: serif;
	line-height: 20px;
}
#page-heading {
	margin: 24px auto;
	max-width: 800px;
}
#page-heading #main-logo {
	text-align: center;
}
#page-heading #main-logo img {
	width: 80px;
	height: 45px;
	display: inline-block;
}
#page-heading h1 {
	text-align: center;
	font-size: 48px;
	font-family: Abril+Fatface;
	margin-top: 2px;
	margin-bottom: 12px;
	font-weight: bold;
	color: black;
}
#header-links {
	max-width: 800px;
	border-top: 2px solid black;
	border-bottom: 1px solid #adadad;
}
#header-links p {
	text-align: center;
	font-size: 16px;
	color: #6d6d6d;
	margin: 6px auto;
	font-family: sans-serif;
}
#header-links a {
	font-weight: normal;
	color: #6d6d6d;
	padding: 0px 10px;
}
#header-links a:hover {
	text-decoration: none;
	color: #adadad;
}

#meat1 {
	max-width: 800px;
	margin: 20px auto;
}

#meat1 h2 {
	margin: 0px auto 12px;
	text-align: left;
	font-size: 24px;
	font-family: serif;
	font-weight: bold;
}

#meat1 p {
	margin: 0px auto 16px;
	max-width: 750px;
	font-size: 16px;
}

#photos {
	margin: 20px auto;
	max-width: 900px;
	text-align: center;
}
.photo {
	width: 40%;
	height: 40%;
	display: inline-block;
}

footer {
	max-width: 800px;
	margin: 75px auto 10px;
	border-top: 1px solid #adadad;
}

footer p {
	display: block;
	margin: 5px auto;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	color: #adadad;
	font-family: sans-serif;
}