body {
	background-color: #FCF7F5; margin: 0;
}
a {
	text-decoration: none; color: #FF9CC5;
}
a:hover {
	text-decoration: none; color: #FFCDE2;
}
h1 {
	text-align: center; font-size: 48px; font-family: sans-serif; margin-top: 15px; margin-bottom: 0px; font-weight: normal;
}
h2 {
	font-weight: normal; font-family: Courier;
}
h3 {
	font-weight: bold; font-family: sans-serif;
}
h4 {
	font-weight: bold; font-family: sans-serif;
}
h5 {
	font-weight: bold; font-family: sans-serif;
}
p {
	font-size: 24px; padding: 10px; font-family: sans-serif; line-height: 30px;
}
ul {
	font-family: sans-serif; 	
}
.icons {
	display: inline-block; height: 100px; padding-top: 20px; padding-left: 20px; padding-right: 20px;
}
.parallax {
    min-height: 100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
#page-heading {
	padding-top: 50px; padding-bottom: 10px;
}
#page-heading p {
	text-align: center; margin-top: 0px; margin-bottom: 50px;
}
#introduction {
	padding-bottom: 50px;
}
#introduction h2 {
	margin: 0px auto; max-width: 800px; font-size: 36px; font-family: Courier;
}
#introduction p {
	margin: 0px auto; max-width: 800px;
}
#languages {
	padding-top: 0px; padding-bottom: 100px; background-color: #FFECF4
}
#languages .parallax {
    background-image: url("para1.jpg");
}
#languages .icon-group {
	padding-top: 20px; text-align: center;
}
#languages h2 {
	margin: 40px auto; max-width: 800px; font-size: 64px; font-family: sans-serif;
}
#languages h5 {
	margin: 30px auto 0px; max-width: 800px; font-size: 36px;
}
#languages ul {
	margin: 20px auto; max-width: 750px; font-size: 32px; line-height: 30px; list-style-type: none;
}
#other-skills {
	padding-top: 0px; padding-bottom: 100px; background-color: #F7F7F7
}
#other-skills .parallax {
    background-image: url("para2.jpg");
}
#other-skills .icon-group {
	text-align: center;
}
#other-skills h2 {
	margin: 40px auto; max-width: 800px; font-size: 64px; font-family: sans-serif;
}
#other-skills ul {
	margin: 20px auto; max-width: 700px; font-size: 32px; line-height: 42px;
}
#education {
	padding-top: 20px; padding-bottom: 100px; background-color: white;
}
#education h2 {
	margin: 40px auto; max-width: 800px; font-size: 64px; font-family: sans-serif;
}
#education h3 {
	padding-top: 0px; margin: 0px auto; max-width: 800px; font-size: 54px; color: indigo;
}
#education h4 {
	padding-top: 0px; margin: -5px auto 0px; max-width: 800px; font-size: 46px; color: gray;
}
#education h5 {
	margin: 0px auto; max-width: 800px; font-size: 36px;
}
#education ul {
	margin: 20px auto; max-width: 700px; font-size: 32px; line-height: 42px;
}