* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
}

*:hover {
  cursor: default;
}

*::selection {
  background: yellow;
}

body {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 2.5em;
}

li a {
  text-decoration: underline;
  color: black;
}

li a:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: max(35vh, 200px);
  padding-left: 10vw;
}

.introduction {
  font-size: 2em;
  margin: 0 0 15vh;
}

.introduction p {
  margin-bottom: -9px;
}

.my-name {
  font-size: 2em;
  font-weight: bold;
}

.ext-links {
  font-size: 2em;
}

.info {
  position: absolute;
  top: max(10vh, 50px);
  right: 10vw;
  font-size: 2em;
  text-align: right;
}
