@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: black;
	color: white;
	font-family: 'Roboto script=all rev=1', sans-serif;
	font-weight: 500;
}
::selection {
	background: darkorange;
}
h1 {
	font-size: 6vw;
	margin: 0vw auto;
	font-weight: normal;
}
h2 {
	font-size: 4vw;
	margin: 0vw auto;
	font-weight: normal;
}
h3 {
	font-size: 3vw;
	margin: 0vw auto;
}
p {
	font-size: 2vw;
	margin: 0vw auto;
}
ul {
	font-size: 2vw;
	list-style: none;
	margin: 0vw auto;
}
a {
	text-decoration: none;
	color: white;
}
#logo {
	margin: 4vw auto 0vw 2vw;
	width: 15vw;
}
#name {
	margin: 0vw auto 0vw 1.5vw;
	max-width: 84vw;
}
.imp{
	font-weight: bolder;
}
#intro {
	margin: 0vw auto 0vw 1.5vw;
	max-width: 84vw;
}
.bottom {
	display: flex;
}
#i-like {
	margin: 3.2vw 0vw 0vw 6vw;
}
#things{
	margin: 2vw auto 0vw 3vw;
}
#links {
	margin: -1vw 1vw 0vw auto;
	text-align: right;
	height: 18vw;
}
#links a:hover {
	text-decoration: underline;
	font-size: 3vw;
}
#photo {
	height: 25vw;
	width: auto;
	left: 40vw;
	top: 15vw;
	position: absolute;
	z-index: -1;
}
footer {
	text-align: center;
}
footer a:hover {
	text-decoration: underline;
}