body {
	background-color: #EEEEEE;
	margin: 0px;
}
a {
	text-decoration: none;
	font-family: sans-serif;
}
h1 {
	text-align: center;
	font-size: 60px;
	font-family: sans-serif;
	margin-top: 15px;
	margin-bottom: 0px;
	font-weight: normal;
	color: black;
}
h2 {
	font-weight: normal;
	font-family: Courier;
	color: black;
}
h3 {
	font-weight: bold;
	font-family: sans-serif;
	color: black;
}
h4 {
	font-weight: bold;
	font-family: sans-serif;
	color: black;
}
h5 {
	font-weight: bold;
	font-family: sans-serif;
	color: black;
}
p {
	padding: 10px;
	color: black;
	font-family: sans-serif;
}
ul {
	font-family: sans-serif;
	color: black;
}