* {
  /* background-color: inherit; */
  color: #ffb700;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

html {
  font-size: 8px;
}

p {
  font-size: 3.5rem;
}

h1 {
  font-size: 7rem;
}

a {
  text-decoration: none;
}

li {
  list-style-position: inside;
}

body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  background: rgb(255,254,244);
  background: linear-gradient(270deg, rgba(255,254,244,1) 12%, rgba(255,254,248,1) 54%, rgba(255,255,255,1) 100%);
}

.hover-item:hover {
  cursor: pointer;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logo {
  width: 25%;
  margin-top: 6rem;
  margin-right: 5%;
  margin-bottom: 14rem;
  margin-left: 5%;
  font-family: "Roboto";
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.links {
  width: 44rem;
  margin-top: 6rem;
  margin-bottom: 14rem;
  margin-left: -2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-img {
  width: 6rem;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navigation {
  width: 25%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 4rem;
}

.nav-item {
  color:#ebb000;
  display: inline-block;
  position: relative;
  left: 4rem;
}

.nav-item:hover {
  left: 6rem;
  -webkit-transition: left 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: left 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: left 400ms cubic-bezier(0.77, 0, 0.175, 1);
}

.selected-item {
  /* color:#d9b800; */
  color: #97d1e8;
  font-weight: bold;
}

.content {
  width: 62%;
  margin-right: 5%;
}

.about-text {
  margin-bottom: 1rem;
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.project-card {
  width: 100%;
  margin-bottom: 6rem;
}

.project-card-link {
  width: 100%;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.project-card-link:hover {
  background-color: white;
  border: 1px solid #97d1e8;
  -webkit-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.project-video {
  width: 48%;
}

.project-details {
  width: 48%
}

.project-title {
  margin-bottom: 0.5rem;
  font-size: 4rem;
  font-weight: bold;
}

.project-desc {
  font-size: 2.5rem;
}

.more-projects {
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  border: 1px solid transparent;
}

.more-projects:hover {
  background-color: white;
  border: 1px solid #97d1e8;
  -webkit-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 6px;
  }
}

/* tablet portrait */
@media screen and (max-width:900px) {
  li {
    list-style-position: outside;
  }

  .top {
    width: 100%;
    flex-flow: column;
    align-items: center;
  }

  .middle {
    width: 100%;
    flex-flow: column;
    align-items: center;
  }

  .logo {
    width: auto;
    margin-bottom: 2rem;
  }

  .links {
    margin-top: 2rem;
    margin-right: 0rem;
    margin-bottom: 2rem;
    width: 32rem;
  }

  .navigation {
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .content {
    width: 80%;
    margin-top: 2rem;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .about-text {
    font-size: 3rem;
  }

  .project-card {
    margin-bottom: 8rem;
  }

  .project-card-link {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .project-video {
    width: 100%;
  }

  .project-details {
    width: 100%;
  }

  .project-title {
    margin-top: 2rem;
  }

  .project-desc {
    width: 100%;
    /* font-size: 2rem; */
  }

}

/* phone portrait */
@media screen and (max-width:600px) {
  
}
