* {
  background-color: black;
  color: white;
  margin: 0px;
  text-align: left;
}

p {
  font-size: 3.5em;
}

h1 {
  font-size: 6em;
}

img {
  width: 6em;
  margin-right: 6em;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  width: 30%;
  margin-top: 6em;
  margin-bottom: 14em;
  margin-left: 5%;
  font-family: "Roboto";
  font-style: italic;
}

.links {
  width: 58%;
  margin-top: 6em;
  margin-bottom: 14em;
  margin-right: 5%;
}

.navigation {
  width: 30%;
  margin-left: 5%;
  font-size: 4em;
}

.content {
  width: 58%;
  margin-right: 5%;
}

.about-text {
  margin-bottom: 1em;
}

.underline {
  text-decoration: underline;
}